<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/join.css">
	<th:block th:insert="~{${menuBar} :: barCSS}"></th:block>
</head>

<body>
	<div th:insert="~{${menuBar} :: Bar}"></div><br>
	<div id="joinForm">
		<form action="join" method="post" enctype="multipart/form-data" onsubmit="">
			<h1>회원가입</h1>
			<input name="shop_id" maxlength="15" autocomplete="off" placeholder="ID"><p></p>
			<input name="shop_pw" type="password" maxlength="20" autocomplete="off" placeholder="Pw"><p></p>
			<input name="shop_pwCheck" type="password" maxlength="20" autocomplete="off" placeholder="PwCheck"><p></p>
			<input name="shop_nickName" maxlength="10" autocomplete="off" placeholder="nickName"><p></p>
			<input name="shop_address1" placeholder="postNum"><p></p> 
			<input name="shop_address2" placeholder="address"> <p></p>
			<input name="shop_address3" placeholder="detailAdress"><p></p>
			<button style="border:none;">회원가입</button>
		</form>
	</div>

</body>

</html>