<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/join.css">
	<script type="text/javascript" src="/js/check.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<th:block th:insert="~{${menuBar} :: barCSS}"></th:block>
</head>

<body>
	<div th:insert="~{${menuBar} :: Bar}"></div><br>
	<form action="" method="post"
	 enctype="multipart/form-data" name="joinForm" id="joinForm" onsubmit="return joinCheck();">
		<h1>회원가입</h1>
		<input name="shop_id" maxlength="15" autocomplete="off" placeholder="ID"><p></p>
		<input name="shop_pw" type="password" maxlength="20" autocomplete="off" placeholder="Pw"><p></p>
		<input name="shop_pwCheck" type="password" maxlength="20" autocomplete="off" placeholder="PwCheck"><p></p>
		<input name="shop_email" maxlength="10" autocomplete="off" placeholder="email">
		<input id="sendCode" value="전송" readonly></<p></p>
		<input id="shop_emailCode" name="shop_emailCode" maxlength="10" autocomplete="off" placeholder="emailCode">
		<input id="validCheck" value="확인" readonly><p></p>
		<input name="shop_address1" id="shop_address1" placeholder="postNum" readonly><p></p> 
		<input name="shop_address2" placeholder="address" readonly> <p></p>
		<input name="shop_address3" placeholder="detailAdress"><p></p>
		<button style="border:none;">회원가입</button>
	</form>
	<script>
		function joinCheck(){
	var id = document.joinForm.shop_id;
	var pw = document.joinForm.shop_pw;
	var pwc = document.joinForm.shop_pwCheck;
	var email = document.joinForm.shop_email;
	var add1 = document.joinForm.shop_address1;
	var add2 = document.joinForm.shop_address2;
	var add3 = document.joinForm.shop_address3;
	
	if(isEmpty(id) || containsHS(id)){
		alert("id 를 올바르게 입력해주세요");
		id.value="";
		id.focus();
		return false;
	}
	if(isEmpty(pw) || lessThan(pw, 6) || notContains(pw, '1234567890')
		|| notSame(pw, pwc)){
			alert("pw를 올바르게 입력해주세요");
			pw.value="";
			pw.value="";
			pw.focus();
			return false;
		}
	if(isEmpty(email)){
		alert("email을 다시 입력해주세요");
		email.focus();
		return false;
		
	}
	if(isEmpty(add1) || isEmpty(add2) || isEmpty(add3)){
		alert("주소를 입력해주세요")
		add3.focus();
	}
		return true;
}
	</script>
<script>
	const btn = document.querySelector("#shop_address1");
	btn.addEventListener("click", ()=>{
		new daum.Postcode({
        oncomplete: function(data) {
			let addr='';
			if(data.userSelectedType =='R'){
				addr = data.roadAddress;
			}else{
				addr = data.jibunAddress;
			}
			document.joinForm.shop_address1.value = data.zonecode;
			document.joinForm.shop_address2.value = addr;
        }
    }).open();
	})
	
	const mailSend= document.querySelector("#sendCode");
	mailSend.addEventListener("click", ()=>{
		const email = document.joinForm.shop_email.value;
		axios.post('', {email}).then((response)=>{
			if(response.status==200){
				alert("전송성공");
			} else{
				alert("error");
			}
		});
	});
	
	const codeCheck = document.querySelector("#validCheck");
	codeCheck.addEventListener("click", ()=>{
		const code = document.joinForm.shop_emailCode.value;
		axios.post('', {code}).then((response)=>{
			if(response.data){
				alert("검증성공");
			}else{
				alert("검증실패");
			}
		})
		
	})
	
	
</script>

</body>

</html>