<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<th:block th:insert="~{${menuBar} :: barCSS}"></th:block>
<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div th:insert="~{${menuBar} :: Bar}"></div>
	<form class="loginForm" action="signin" onsubmit="return loginCheck();" method="post">
		<table class="loginTable">
			<tr>
				<td>
					<input name="shop_id" type="text" style="width:300px;height:30px;font-size:20px;" id="userId" placeholder="ID">
				</td>
			</tr>
			<tr>
				<td>
					<input name="shop_pw" type="password" style="width:300px;height:30px;font-size:20px;" id="userPassword" placeholder="Password">
				</td>
			</tr>
			<tr>
				<td align="center">
					<button class="loginButton">로그인</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>