<!DOCTYPE html>
<th:block th:fragment="barCSS">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
</th:block>
<div th:fragment="Bar">
	<table id="titleArea">
		<tr>
			<td align="center">
				<table class="title">
					<tr>
						<td>
							<a th:href="@{/}">Home</a>
							<div id="result" th:insert="~{${result} :: logined}"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table>
					<tr class="menuTable" align="center">
						<td class="menu">
							<span>완제품</span>
							<ul class="sub">
								<li>
									<a href="#None">셀러드</a>
								</li>
								<li>
									<a href="#None">포케</a>
								</li>
							</ul>
						</td>
						<td class="menu">
							<span>커스텀</span>
							<ul class="sub">
								<li>
									<a href="#None">셀러드</a>
								</li>
								<li>
									<a href="#None">포케</a>
								</li>
							</ul>
						</td>
						<td class="menu">
							<span>리뷰</span>
							<ul class="sub">
								<li>
									<a href="#None">리뷰</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>
<script>
	$(".menuTable").click(() => {
		$(".sub").slideDown(50);
	});
	$(".menuTable").mouseleave(() => {
		// .sub를 슬라이드 업
		$(".sub").slideUp(50);
	});
</script>
</div>