@charset "UTF-8";
body{
	background-color:#ffffff;
}
#titleArea *{
  padding:0px;
  margin:0px;
}
a{
	text-decoration: none;
}
.title{
	background-color:#066754;
	height: 80px;
	font-size: 10px;
}
#titleArea{
	position: fixed;
	width:100%;
}
#titleArea table{
	width:1200px;
}

.title a{
	color:#F29829;
}
.menuTable{
  width:100%;
  height:40px;
  line-height: 40px;
  background-color:#e3fbfd;
  font-size: 20px;
  color: #F29829;
  opacity: 0.5;
  transition: 0.3s;
}
.menu{
	width:20%;
}
.menu>a *{
	color: #BF8D30;
}

.menu>.sub{
  display:none;
  height:100px;
  list-style:none;
  overflow:hidden;
}

.sub:hover {opacity: 2}

.menu:hover {opacity: 2}

.sub{
	background-color: #E1F5FE;
}
.title a:hover {
	color:white;
	display: inline;
}
.sub a:hover{
	color:aqua;
}
.menu:hover{
	color:black;
}
button:hover{
	color:aqua
}

input::placeholder{
	text-align: center;
}
input:focus::placeholder{
    color:transparent;
}
#result{
	margin-left:1000px;
}